* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 100%;
}

body {
    background: #fff;
    color: #333;
}

.bg {
    background: url('https://images.unsplash.com/photo-1511548774318-563182fe8d03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    font-size: 1.5em;
}

.container {
    width: calc(100% - 16%);
    margin: 0 auto;
}

.hero {
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item {
    width: 50%;
    border: 0.5em solid white;
}

@media (min-width: 48rem) {
    .grid-item {
        width: 25%;
        border: 1em solid white;
    }
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    height: auto;
    background: black;
    color: white;
    z-index: 999;
}

header .container {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

a {
    transition: all 0.3s ease;
}

a:hover,
.active {
    opacity: 0.5;
}

nav {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.125em;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 0.5rem;
}

nav ul li:last-child {
    margin-right: 0;
}

.hero {
    width: 100%;
    background: #ddd;
}

.found {
    padding: 4rem 0;
}

.found ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    list-style: none;
    padding: 0;
}

@media (min-width: 48rem) {
    .found ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

.found ul li {
    line-height: 2;
    border: 1px solid black;
}

.found ul li div {
    padding: 1.5em;
    border-top: 1px solid black;
}

.found p {
    max-width: 32em;
    line-height: 1.3;
}

.totw {
    padding: 4rem 0;
}

.totw h1 {
    margin-bottom: 1em;
}

.totw ul {}

.totw ul li {
    border: 1px solid black;
    display: flex;
    padding-left: 1.5em;
    margin-bottom: 4em;
    line-height: 1.25;
    align-items: center;
}

.totw ul li div {
    flex: 50%;
}

.totw ul li p {
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.125em;
    color: #999;
}

.totw ul li h2 {
    font-size: 2em;
    font-weight: 400;
}

.totw ul li h3 {
    font-size: 1em;
    font-weight: 400;
}

.totw ul li img {
    border-left: 1px solid black;
}

@media (min-width: 48rem) {

    .totw ul li {
        padding-left: 4rem;
        margin-bottom: 4rem;
    }

    .totw ul li h2 {
        font-size: 3em;
    }

    .totw ul li h3 {
        font-size: 1.25em;
    }
}

.loot {
    padding: 4rem 0;
}

.loot h2 {
    margin-bottom: 0.5em;
}

.loot ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: minmax(320px, 1fr);
    overflow-x: scroll;
    list-style: none;
    padding: 0;
    padding-bottom: 3em;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: black;
    margin-bottom: 4em;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 9999px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: black;
  }

  ::-webkit-scrollbar-track {
    border-radius: 9999px;
    background-color: #aaa;
  }

.loot ul li {
    line-height: 2;
    border: 1px solid black;
}

.loot ul li div {
    padding: 1.5em;
    border-top: 1px solid black;
}

.loot h2,
p {
    max-width: 32em;
    line-height: 1.3;
}