/**
g l o b a l
**/

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #333;
}

img {
    max-width: 100%;
    width: 100%;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    font-size: 1.5em;
}

.container {
    width: calc(100% - 16%);
    margin: 0 auto;
}

.hero {
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item {
    width: 50%;
    border: 0.5em solid white;
}

@media (min-width: 48rem) {
    .grid-item {
        width: 25%;
        border: 1em solid white;
    }
}

/**
h e a d e r
**/

header {
    width: 100%;
    position: sticky;
    top: 0;
    height: auto;
    background: black;
    color: white;
    z-index: 999;

    .container {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

a {
    transition: all 0.3s ease;
    font-size: 0.875em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: blue;
    letter-spacing: 0.125em !important;
}

a:hover,
.active {
    opacity: 0.5;
}

nav {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 0.5rem;
}

nav ul li:last-child {
    margin-right: 0;
}

.hero {
    width: 100%;
    background: #ddd;
}

/**
f d r y
**/

.found {
    padding: 4rem 0;
}

.found ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    list-style: none;
    padding: 0;
}

@media (min-width: 48rem) {
    .found ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

.found h2 {
    margin: 0.125em 0 0;
}

.found ul li {
    border: 1px solid black;
}

.found ul li div {
    padding: 1.5em;
    border-top: 1px solid black;
}

.found p {
    max-width: 32em;
}

/**
t o t w
**/

.totw {
    padding: 4rem 0;
}

.totw h1 {
    margin-bottom: 1em;
}

.totw ul {}

.totw ul li {
    border: 1px solid black;
    display: flex;
    padding-left: 1.5em;
    margin-bottom: 4em;
    align-items: center;
}

.totw ul li div {
    flex: 50%;
}

.totw ul li p {
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.125em;
    color: #999;
}

.totw ul li h2 {
    font-size: 2em;
    font-weight: 400;
    margin: 0.125em 0 0;
}

.totw ul li h3 {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 2em 0;
}

.totw ul li img {
    border-left: 1px solid black;
}

@media (min-width: 48rem) {

    .totw ul li {
        padding-left: 4rem;
        margin-bottom: 4rem;
    }

    .totw ul li h2 {
        font-size: 3em;
    }

    .totw ul li h3 {
        font-size: 1.25em;
    }
}

.loot {
    padding: 4rem 0;
}

.loot h2 {
    font-size: 3em;
}

.loot h3 {
    font-size: 1.5em;
    margin: 0;
}

.loot h4 {
    font-weight: 400;
    font-size: 1em;
    margin: 0.5em 0 2em;
}

.loot ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: minmax(320px, 1fr);
    overflow-x: scroll;
    list-style: none;
    padding: 0;
    padding-bottom: 3em;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: black;
    margin-bottom: 3em;
}

.loot {

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 6px;
        height: 6px;
        border-radius: 9999px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 9999px;
        background-color: #333;
    }

    ::-webkit-scrollbar-track {
        border-radius: 9999px;
        background-color: #ddd;
    }
}

.loot ul li {
    border: 1px solid black;
}

.loot ul li div {
    padding: 1.5em;
    border-top: 1px solid black;
}